# Prediction of RainFall

### Importing necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### importing data

In [2]:
data=pd.read_csv("rain.csv")
data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,01-12-2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,02-12-2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,03-12-2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,04-12-2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,05-12-2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142188,20-06-2017,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No,No
142189,21-06-2017,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
142190,22-06-2017,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
142191,23-06-2017,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
142192,24-06-2017,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

### Describing data

In [3]:
print(data.columns)
print(data.info())
print(data.describe())

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.0+ MB
None
             MinTemp        MaxTemp       Rainfall   Evaporation  \
count  141556.000000  141871.000000  140787.000000  81350.000000
mean       12.186400      23.226784       2.349974      5.469824
std         6.403283       7.117618       8.465173      4.188537
min        -8.500000      -4.800000       0.000000      0.000000
25%         7.600000      17.900000       0.000000      2.600000
50%        12.000000      22.600000       0.000000      4.800000
75%        16.800000      28.200000       0.800000      7.400000
max        33.900000      48.100000     371.000000    145.000000

           Sunshine  WindGustSpeed   WindSpeed9am   WindSpeed3pm  \
count  74377.000000  132923.000000  140845.000000  139563.000000
mean       7.624853      39.984292      14.001988      18.637576
std        3.781525      13.588801       8.893337       8.803345
min        0.000000       6.000000       0.000000       0.000000
25%        4.900000      31.000000       7.000000      13.000000
50%        8.500000      39.000000      13.000000      19.000000
75%       10.600000      48.000000      19.000000      24.000000
max       14.500000     135.000000     130.000000      87.000000

         Humidity9am    Humidity3pm    Pressure9am    Pressure3pm  \
count  140419.000000  138583.000000  128179.000000  128212.000000
mean       68.843810      51.482606    1017.653758    1015.258204
std        19.051293      20.797772       7.105476       7.036677
min         0.000000       0.000000     980.500000     977.100000
25%        57.000000      37.000000    1012.900000    1010.400000
50%        70.000000      52.000000    1017.600000    1015.200000
75%        83.000000      66.000000    1022.400000    1020.000000
max       100.000000     100.000000    1041.000000    1039.600000

           Cloud9am      Cloud3pm        Temp9am        Temp3pm
count  88536.000000  85099.000000  141289.000000  139467.000000
mean       4.437189      4.503167      16.987509      21.687235
std        2.887016      2.720633       6.492838       6.937594
min        0.000000      0.000000      -7.200000      -5.400000
25%        1.000000      2.000000      12.300000      16.600000
50%        5.000000      5.000000      16.700000      21.100000
75%        7.000000      7.000000      21.600000      26.400000
max        9.000000      9.000000      40.200000      46.700000

### Feature Engineering

        The aim of feature engineering is to prepare an input data set that best fits the machine learning algorithm as well as to enhance the performance of machine learning models.

In [4]:
dataNew=data[["MinTemp","MaxTemp","WindDir3pm","WindSpeed9am","Humidity9am","Pressure9am","RainToday","RainTomorrow"]].copy()
dataNew.columns=["MinTemp","MaxTemp","WindDir","WindSpeed","Humidity","Pressure","RainToday","RainTomorrow"]
dataNew

,MinTemp,MaxTemp,WindDir,WindSpeed,Humidity,Pressure,RainToday,RainTomorrow
0,13.4,22.9,WNW,20.0,71.0,1007.7,No,No
1,7.4,25.1,WSW,4.0,44.0,1010.6,No,No
2,12.9,25.7,WSW,19.0,38.0,1007.6,No,No
3,9.2,28.0,E,11.0,45.0,1017.6,No,No
4,17.5,32.3,NW,7.0,82.0,1010.8,No,No
...,...,...,...,...,...,...,...,...
142188,3.5,21.8,E,15.0,59.0,1024.7,No,No
142189,2.8,23.4,ENE,13.0,51.0,1024.6,No,No
142190,3.6,25.3,N,13.0,56.0,1023.5,No,No
142191,5.4,26.9,WNW,9.0,53.0,1021.0,No,No
142192,7.8,27.0,N,13.0,51.0,1019.4,No,No

### null synthesis

In [25]:
dataNew.isnull().sum()

MinTemp         0
MaxTemp         0
WindDir         0
WindSpeed       0
Humidity        0
Pressure        0
RainToday       0
RainTomorrow    0
dtype: int64

In [26]:
dataNew.dropna(inplace=True)

In [7]:
dataNew.isnull().sum()

MinTemp         0
MaxTemp         0
WindDir         0
WindSpeed       0
Humidity        0
Pressure        0
RainToday       0
RainTomorrow    0
dtype: int64

#### inputs and outputs

In [8]:
x=dataNew.iloc[:,:-1]
y=dataNew.iloc[:,-1]

In [9]:
x,y

(        MinTemp  MaxTemp WindDir  WindSpeed  Humidity  Pressure RainToday
 0          13.4     22.9     WNW       20.0      71.0    1007.7        No
 1           7.4     25.1     WSW        4.0      44.0    1010.6        No
 2          12.9     25.7     WSW       19.0      38.0    1007.6        No
 3           9.2     28.0       E       11.0      45.0    1017.6        No
 4          17.5     32.3      NW        7.0      82.0    1010.8        No
 ...         ...      ...     ...        ...       ...       ...       ...
 142188      3.5     21.8       E       15.0      59.0    1024.7        No
 142189      2.8     23.4     ENE       13.0      51.0    1024.6        No
 142190      3.6     25.3       N       13.0      56.0    1023.5        No
 142191      5.4     26.9     WNW        9.0      53.0    1021.0        No
 142192      7.8     27.0       N       13.0      51.0    1019.4        No

 [124205 rows x 7 columns],
 0         No
 1         No
 2         No
 3         No
 4         No
           ..
 142188    No
 142189    No
 142190    No
 142191    No
 142192    No
 Name: RainTomorrow, Length: 124205, dtype: object)

#### catogorical to numericals

In [10]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()
l2=LabelEncoder()
l3=LabelEncoder()
x["WindDir"]=l1.fit_transform(x["WindDir"])
x["RainToday"]=l2.fit_transform(x["RainToday"])
y= l3.fit_transform(y)

In [11]:
k=0
print("Label encoding for WindDir")
for i in l1.classes_:
    print(k,"-->",i)
    k+=1
k=0
print("label encoding for Raintoday")
for i in l2.classes_:
    print(k,"-->",i)
    k+=1
k=0
print("label encoding for Raintomorrow")
for i in l3.classes_:
    print(k,"-->",i)
    k+=1

Label encoding for WindDir
0 --> E
1 --> ENE
2 --> ESE
3 --> N
4 --> NE
5 --> NNE
6 --> NNW
7 --> NW
8 --> S
9 --> SE
10 --> SSE
11 --> SSW
12 --> SW
13 --> W
14 --> WNW
15 --> WSW
label encoding for Raintoday
0 --> No
1 --> Yes
label encoding for Raintomorrow
0 --> No
1 --> Yes

### data Segregation

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [13]:
x_train.shape,x_test.shape

((93153, 7), (31052, 7))

## using Extra trees classifier

In [14]:
from sklearn.ensemble import ExtraTreesClassifier
model=ExtraTreesClassifier(max_depth=23,n_estimators=100,min_samples_split=2,criterion="entropy",class_weight="balanced",max_features='sqrt')
model.fit(x_train,y_train)

ExtraTreesClassifier(class_weight='balanced', criterion='entropy', max_depth=23,
                     max_features='sqrt')

#### predicting the test results

In [15]:
y_pred=model.predict(x_test)

#### visualize classfication report

In [16]:
from sklearn import metrics
print(metrics.classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.89      0.88     24180
           1       0.58      0.51      0.54      6872

    accuracy                           0.81     31052
   macro avg       0.72      0.70      0.71     31052
weighted avg       0.80      0.81      0.80     31052

#### visualize confusion matrix

In [17]:
print(pd.DataFrame(metrics.confusion_matrix(y_test,y_pred),columns=(0,1)))

       0     1
0  21588  2592
1   3364  3508

#### accuracy score

In [18]:
print(metrics.accuracy_score(y_test,y_pred)*100)

80.8192709004251

#### feature importances on output

In [19]:
pd.Series(model.feature_importances_,index=x.columns)

MinTemp      0.150469
MaxTemp      0.158771
WindDir      0.099614
WindSpeed    0.106114
Humidity     0.178205
Pressure     0.198687
RainToday    0.108140
dtype: float64

#### predict with real world data

In [20]:
a1=float(input("Enter the value for MinTemp:"))
a2=float(input("Enter the value for MaxTemp:"))
a3=input("Enter the value for WindDirection{}:".format(l1.classes_))
a3=l1.transform([a3])[0]
a4=float(input("Enter the value for WindSpeed:"))
a5=float(input("Enter the value for Humidity:"))
a6=float(input("Enter the value for Pressure:"))
a7=input("Enter value for RainToday{}:".format(l2.classes_))
a7=l2.transform([a7])[0]
datapoint=pd.DataFrame(np.array([[a1,a2,a3,a4,a5,a6,a7]]),columns=x.columns)
datapoint

Enter the value for MinTemp:21
Enter the value for MaxTemp:35
Enter the value for WindDirection['E' 'ENE' 'ESE' 'N' 'NE' 'NNE' 'NNW' 'NW' 'S' 'SE' 'SSE' 'SSW' 'SW' 'W'
 'WNW' 'WSW']:N
Enter the value for WindSpeed:12
Enter the value for Humidity:17
Enter the value for Pressure:11
Enter value for RainToday['No' 'Yes']:Yes

   MinTemp  MaxTemp  WindDir  WindSpeed  Humidity  Pressure  RainToday
0     21.0     35.0      3.0       12.0      17.0      11.0        1.0

In [21]:

res=model.predict(datapoint)
if l3.inverse_transform(res)[0] =="No":
    print(" there will be No RainFall Tomorrow")
else:
    print(" there will be Rainfall Tomorrow")
print("Prediction probability:")
pd.DataFrame(model.predict_proba(datapoint),columns=["No","Yes"])

 there will be No RainFall Tomorrow
Prediction probability:

     No   Yes
0  0.67  0.33